* {
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.main-body {
    background-color: #A8A8A8;
    width: 400px; /* Set the default width to 500px */
    max-width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 5px;
}

.top-section {
    height: auto;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.solar-logo-container {
    height: 50px;
    padding-bottom: 3px;
    display: flex;
    align-items: stretch;
}

.logo {
    flex: 1;
}

#logo-image {
    margin: 0;
    height: 100%;
    width: auto;
    margin-right: 100%;
    border: 5px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

.solar {
    flex: 1;
    padding: 2px;
    display: flex;
    align-items: stretch;
    background-color: black;
    gap: 2px;
    border-radius: 5px;
}

.solar-cells {
    background-color: #3b3b3b;
    flex: 1;
}

.number-display {
    box-sizing: border-box;
    background-color: #E4EBD9;
    width: 100%;
    aspect-ratio: 1/.35;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.previous-num {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: flex-start;
    height: 65px;
    width: 100%;
    font-size: 35px;
    font-family: sans-serif;
    flex: 2;
    padding: 0px;
}

.current-num {
    display: flex;
    text-align: right;
    height: 7px;
    width: 100%;
    box-sizing: border-box;
    font-size: 65px;
    font-family: sans-serif;
    justify-content: flex-end;
    margin-bottom: 0;
    align-items: flex-end;
    padding: 0;
    flex: 2;
}

.keys-container {
    height: 100%;
}

.top-row {
    display: flex;
    height: 65px;
    align-items: stretch;
    gap: 5px;
    flex-direction: row;
    margin: 5px;
}

.clear.num{
    flex: 3;
    display: inline-block;
    background-color: rgb(227, 74, 64);
    border: 2px solid gray;
    font-size: 20px;
    border-radius: 5px;
}

.delete.num {
    flex: 1.9;
    display: inline-block;
}

.num {
    border-radius: 5px;
    border: 2px solid gray;
    font-size: 20px;
}

.number-keys {
    padding: 5px;
    height: 285px;
    display: flex;
    align-items: stretch;
    flex: 1;
    gap: 5px;
    background-color: #EFEFEF;
}

.num-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
}

.num {
    flex: 1;
}

#addition {
    flex: 2.2;
}













